<%- include('header', {chainInfo: chainInfo, title: "About Polkaholic"}); %>


<div class="card">
  <div class="card-body">
   <h5 class="card-title">About Polkaholic</h5>
<p>
<b>Polkaholic.io</b> is a multi-chain block explorer designed for <a href='https://substrate.io/'>Substrate</a> chains, showing all <a href='https://polkadot.network/'>Polkadot</a> and <a href='https://kusama.network/'>Kusama</a> information in one place!
</p>
<p>
We started building Polkaholic in November 2021 after contributing to many of the great defi projects built on the beautiful Substrate architecture and robust relay chain.
Seeing how tricky it was to see time varying account information across multiple chains, we started building a performant indexer and seeing how cross-chain teleports, account balances, and defi analytics could be done to serve every day defi users and substrate users like us.
</p>
<p>
This is a work in progress, but bug reports and feature requests welcome!
<li><a href='https://docs.google.com/forms/d/1EAiEdPY3OekTukNnfuwTm9SSuLHrMYi8zC3QuzUZ7WU/edit'>Please file an issue</a>
</p>
<p>
If you would like to contribute to Polkaholic, please email <a href='mailto:info@polkaholic.io'>info@polkaholic.io</a>
</p>

  </div>
</div>

<%- include('footer'); %>
