<%
let out = [];
let totalUSD = 0;

function account_group_by_chain(account) {
   let chains = {};
   for ( let i = 0; i < account.length; i++) {
      let a = account[i].assetInfo;
      if ( a.chainID != undefined ) {
        let chainID = a.chainID;
        if ( chains[chainID] == undefined ) {
          chains[chainID] = [];
        } 
	chains[chainID].push(account[i]); 
      } 
   } 

   for ( const chainID of Object.keys(chains) ) {
      chains[chainID].sort( function(a, b) {
        let aUSD = ( a.state && a.state.balanceUSD ) ? a.state.balanceUSD : 0;
        let bUSD = ( b.state && b.state.balanceUSD ) ? b.state.balanceUSD : 0;
        return bUSD - aUSD;
      })
   }
   return(chains);
}

let chains = account_group_by_chain(account);
for ( const chainID of Object.keys(chains) ) {
  let acc = chains[chainID];
  let chainName = acc[0].assetInfo.chainName
  let chainUSD = 0
  for ( let i = 0; i < acc.length; i++) {
    let a = acc[i].assetInfo;
    let s = acc[i].state;
    if ( s&&s.balanceUSD ) chainUSD += s.balanceUSD;
  }
  out.push(`<optgroup label="${chainName} - Chain ID ${chainID} (${uiTool.currencyFormat(chainUSD)})">`);
  totalUSD += chainUSD;
  
  for ( let i = 0; i < acc.length; i++) {
    let a = acc[i].assetInfo;
    if ( a ) {
      let s = acc[i].state;
      let symbol = a.symbol ? a.symbol : "";
      let free = s && s.free ? s.free : 0;
      let balanceUSD = s && s.balanceUSD ? s.balanceUSD : 0;
      if ( a.asset && a.asset.includes("0x") ) {
        let detail = ( a.assetType == "ERC20LP" ) ? `${a.token0Symbol}/${a.token1Symbol}` : '';
        out.push(`<option value='${a.asset}' data-mdb-secondary-text="${uiTool.presentFloat(free)} ${symbol}">${a.assetName} ${detail} ${a.assetType} (${uiTool.currencyFormat(balanceUSD)})</option>`)
      } else if ( a.asset ) {
        out.push(`<option value='${a.chainID}~~${a.asset}' data-mdb-secondary-text="${uiTool.presentFloat(free)} ${symbol}">${a.assetName} ${a.assetType} (${uiTool.currencyFormat(balanceUSD)})</option>`)
      }
    } 
  }
  out.push(`</optgroup>`);
}
out.unshift(`<option value="">${uiTool.currencyFormat(totalUSD)}</option>`)

%>
<select id="tokens" class="select" data-mdb-option-height="44">
<%- out.join(", "); %>
</select>
<script>
$("#tokens").on("change", function(e) {
  var e = document.getElementById("tokens");
  var value = e.value;
  if ( value.includes("0x") ) {
    let url = `/address/${value}?a=${address}`
    console.log(url);
    window.location.href = url;
  } else {
    let sa = value.split("~~");
    let [chainID, asset] = sa;
    let url = `/asset/${chainID}/${encodeURIComponent(asset)}`
    console.log(url);
      window.location.href = url;
  }
})
</script>
