<div class="card  text-white bg-info" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%- uiTool.presentAsset(asset, chainID, symbol); %></h5>
    <b>Decimals</b>: <%= decimals; %><br/>
    <b>Supply</b>: <%= uiTool.presentNumber(supply); %><br/>
  </div>
</div>
