<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%- uiTool.presentChain(asset.chainID, asset.chainName); %></h5>
    <b>Holders</b>: <%= uiTool.presentNumber(asset.numHolders); %><br/>
    <% if ( asset.accountState !== undefined ) {
          let s =asset.accountState; %>
        <% if ( s.free > 0 ) { %>
	   <B>Balance:</B> <%= uiTool.presentFloat(s.free); %> (<%= uiTool.currencyFormat(s.freeUSD); %>)
	<% } else { %>
	    -
	<% } %>
    <% } else { %>
       -
    <% } %>
 </div>
</div>
