<html>
  <head>
    </head>
<body>

  <h3>Dashboard GLMR/DOT/ACA</h3>
  <table>
<tr><td><iframe src="https://analytics.polkaholic.io/superset/dashboard/34b334ff-ae3a-4be1-964c-980971e80b05/?symbol=GLMR&standalone=3" width="400%" height="500"></iframe>
</td><td>
<iframe src="https://analytics.polkaholic.io/superset/dashboard/34b334ff-ae3a-4be1-964c-980971e80b05/?symbol=DOT&standalone=3" width="400%" height="500"></iframe>
</td><td>
<iframe src="https://analytics.polkaholic.io/superset/dashboard/34b334ff-ae3a-4be1-964c-980971e80b05/?symbol=ACA&standalone=3" width="400%" height="500"></iframe>
</td></tt></table>
<hr/>
<h3>Dashboard ALL</h3>
<iframe src="https://analytics.polkaholic.io/superset/dashboard/26433c2c-a781-4b21-8158-3aba9bb7741a/?standalone=3" width="100%" height="1000"></iframe>

</body>
</html>
