<%- include('header', {chainInfo: chainInfo, title: "All Chains"}); %>

<table id="tablechains" class="display" style='width: 100%'>
      <thead>
        <tr>
          <th>Chain</th>
          <th>Symbol/Price</th>
          <th>Your Token Holdings</th>
          <th>Your Pool Holdings</th>
          <th>Latest Block</th>
          <th>Latest Finalized</th>
          <th>Analytics</th>
        </tr>
      </thead>
</table>

<%- include('footer', {apiUrl: apiUrl}); %>
<script>
var relaychainfilter = "";
var accounts = <%- JSON.stringify(accounts); %>;
$(document).ready(function() {
show_chains()
})
</script>

<script src="/chainui.js"></script>
<script src="/dotswap.js"></script>
