<%- include('header', {chainInfo: chainInfo, title: "Error"}); %>

<% if( err != null ) { %>
<h4>Polkaholic Error =(</h4>
This might help:<br/>
<textarea style="width:800px; height:300px">
<%= err; %>
</textarea>
<% } %>
<hr/>
If you need help, email <code>info@polkaholic.io</code> with a description of the problem and we'll get on it ASAP!

</body>
</html>
