<%
function beautifyCamelCase(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
let palletMethod = `${palletName}(${moduleName})`
//balances(Deposit)
//todo: /events/ endpoint?
%>

<a href="/extrinsics/<%= chainID; %>/<%= palletName; %>/<%= moduleName %>" class="btn btn-outline-primary text-capitalize"><%= palletMethod; %></a>