<table>
 <tr>
   <th>Data:</th>
   <td><%- uiTool.presentTopic(log.data); %></td>
 </tr>
<% if ( log.topics != undefined ) { %>
<% for ( let i= 0; i < log.topics.length; i++ ) { %>
  <tr>
    <td><i>Topic <%= i; %>:</i></td>
    <td><%- uiTool.presentTopic(log.topics[i]); %></td>
  </tr>
<% } %>
<% } %>
</table>
