<button type="button" class="btn btn-outline-primary text-capitalize" title="<%- tx.signature; %>">
  <% if ( tx.decodeStatus == "success" ) { %>
  <%= uiTool.getEVMMethod(tx.signature) %>
  <% } else { %>
  Unknown <%- tx.methodID; %>
  <% } %>
</button>
<br />

<% if ( showParams && tx.params != undefined && tx.params.length > 0) { %>
<%- include("evmtxparams", {params: tx.params}); %>
<% } %>