<div class="tab-pane" id="logs" role="tabpanel" aria-labelledby="logs-tab">
<table class="table table-striped table-hover">
   <tr>
     <th>#</th>
     <th>Address</th>
     <th>Log</th>
     <th>Data/Topics</th>
   </tr>
<% if ( tx.decodedLogs ) { %>
<% for ( let i = 0; i < tx.decodedLogs.length; i++) {
        let log = tx.decodedLogs[i];
      %>
       <tr>
        <td>
	 <%- i %>
	</td>
        <td>
	 <%- uiTool.presentID(log.address); %>
	</td>
        <td>
	 <%- include("evmtxlogevents.ejs", { log }); %>
	</td>
        <td>
	 <%- include("evmtxlogtopics.ejs", { log }); %>
	</td>
	</tr>
   <% } %>
<% } %>
</table>
</div>
