<html>
<header>
<script src="https://cdn.ably.com/lib/ably.min-1.js"></script>
</header>
<body>
<h5>Ably</h5>
<script>
var client = new Ably.Realtime("DTaENA.C13wMg:WBLRXZd-9u73gBtrFc19WPFrkeX0ACnW0dhRrYPaRuU");
var channel = client.channels.get("xcminfo");
channel.subscribe(function (message) {
  console.log(message.data);
});
</script>
</body>
</html>