<!-- MDB -->
<script type="text/javascript" src="/js/mdb.min.js"></script>
<div class="alert alert-info" id="apidocs" role="alert">
<B>Polkaholic API <a id="docsUrl" href="https://docs.polkaholic.io" class="alert-link">docs</a>:</B>
<code><span id="curlapicall">curl -H "Authorization: YOUR-API-KEY" <span id="apiextra"></span> "https://api.polkaholic.io<span id="apiUrl"></span>"</span></code>
</div>


<div>
<span>
<a href="https://matrix.to/#/#polkaholic:matrix.org" class="btn btn-link text-capitalize" id="matrix"><i class="fa-regular fa-comments"></i> Chat with Us</a>

<a href="https://github.com/colorfulnotion/polkaholic/issues" class="btn btn-link text-capitalize" id="reportIssue"><i class="fa-regular fa-comment"></i> Report Data Issue / Bugs</a>

<a href="https://github.com/colorfulnotion/polkaholic" class="btn btn-link text-capitalize" id="matrix"><i class="fa-brands fa-github"></i> Github</a>
</span>
<span style='float: right'>
<a href="https://polkaholic.hyperping.io/" class="btn btn-link text-capitalize" id="webuptime"><i class="fa-regular fa-chart-bar"></i> Polkaholic Uptime</a>

<a href="https://api_polkaholic.hyperping.io/" class="btn btn-link text-capitalize" id="apiuptime"><i class="fa-solid fa-chart-bar"></i> API Uptime</a>

<a href="https://polkaholic.io/privacy" class="btn btn-link text-capitalize" id="apiuptime"><i class="fa-regular fa-address-card"></i> Privacy</a>
</span>
</div>

</div>
<% if ( req.cookies.consent == undefined ) { %>
<div id="cookieconsent" class="cookie-consent"> <span>This site uses cookies to enhance user experience. See <a href="/privacy" class="ml-1 text-decoration-none">Privacy policy</a> </span>
    <div class=" ml-2 d-flex align-items-center justify-content-center g-2">
       <button id="allowCookies" class="allow-button mr-1">Allow cookies</button>
       <button id="rejectCookies" class="allow-button">Cancel</button>
    </div>
</div>

<script>
let allowCookiesButton = document.getElementById("allowCookies");
allowCookiesButton.addEventListener("click", (e) => {
  setConsent(1)
});
let rejectCookiesButton = document.getElementById("rejectCookies");
rejectCookiesButton.addEventListener("click", (e) => {
  setConsent(0)
});
</script>
<% } %>
</body>
</html>
