<%- include('header', {chainInfo: chainInfo, skipSearch: true}); %>

<% if ( info && typeof info == "string" ) { %>
<div class="alert" role="alert" data-mdb-color="primary">
You've successfully requested a forgot password.<br/>

If the email address belongs to a known account, a recovery password will be sent to you within the next minute.<br/>

If you have yet to receive the "Password Recovery" email, please check your spam/junk email folders.<br>
Or you may request for a new password reset after a few minutes.<br/>
</div>
<% } %>

<h4>Forgot Password?</h4>
<form class="row g-3 needs-validation" novalidate="" action="/forgot" method="POST">
  <div class="col-md-12">
    <div class="form-outline">
      <input name="email" type="email" class="form-control" id="validationCustom01" value="" required="">
      <label for="validationCustom01" class="form-label">Email</label>
      <div class="invalid-feedback">
        Please provide a valid email.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Send Reset Link</button>
  </div>
</form>

<script>
// disabling form submissions if there are invalid fields
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation');

// Loop over them and prevent submission
Array.prototype.slice.call(forms).forEach(function (form) {
 form.addEventListener( 'submit',
 function (event) {
  if (!form.checkValidity()) {
    event.preventDefault();
    event.stopPropagation();
  }
  form.classList.add('was-validated');
  console.log("VALID");
 },
 false);
});
</script>
<%- include('footer'); %>
