<%
function parseErrorMsg(errorMsg){
  //'Failed(RequiredContractPreApproval) To register a contract, pre-approval is needed for this address'
  try {
   // { module: { index: 23, error: 0 } }
  let idx = errorMsg.indexOf(')')
  let e = errorMsg.substring(0, idx+1)    //Failed(RequiredContractPreApproval)
  let desc = errorMsg.substring(idx+2) //To register a contract, pre-approval is needed for this address'
  console.log(e, desc)
  return [e, desc]
  } catch(err) {
     console.log(errorMsg)
  return ["unk", "unk"];
  }
}
%>

<% if ( success ) { %>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
  <path d="M 8,1 C 4.1340066,1 1,4.1340066 1,8 c 0,3.865993 3.1340066,7 7,7 3.865993,0 7,-3.134007 7,-7 C 15,4.1340066 11.865993,1 8,1 z m 3.3125,3.0625 1.5625,1.40625 -5.25,6.9375 -4.0625,-3.5 1.34375,-1.78125 2.375,2.0625 4.03125,-5.125 z"
    inkscape:connector-curvature="0" id="path2922-6-6-0"
    style="color:#000000;fill:#4e9a06;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.84323651;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
</svg>
<% } else {
 let eMsg = (errorMsg)? errorMsg: 'Failed';
 let [e, desc] = parseErrorMsg(errorMsg)
%>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
  <title><%-`${e}\n${desc}`%></title>
  <path fill=#c93636 fill-rule="evenodd"
    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
</svg>
<% }  %>
