<%
let label_class = "info";
let label = null;

switch ( labels.address_type ) {
  case "user_wallet":
     if ( labels.tag_type_verbose == "Exchange" ) {
         label = "User Wallet: " + labels.tag_name_verbose;
	 label_class = "success";
     } else {
         label = "User Wallet: " + labels.tag_name_verbose;
	 label_class = "info";
     }
     break;
  case "hot_wallet":
     label_class = "success";
     label = "Exchange Hot Wallet: " + labels.tag_name_verbose + " - (" + labels.tag_subtype_verbose + ")";
     break;
  case "other":
     label = labels.tag_type_verbose + ":" + labels.tag_subtype_verbose;
     switch ( labels.tag_type_verbose ) {
        case "Scam":
	case "Sanctions":
	case "Theft": 
	  label_class = "danger";
	  break;	
	default:  
	  label_class = "warning";
	  break;	
     }
     break;  
}

if ( label ) { %>
<button type="button" class="btn btn-<%= label_class %> text-capitalize" >
<img src="https://cdn.polkaholic.io/merklescience.svg" width="100"/>
<%= label; %></button><br/>
<% } %>
