<%
let ss58_address = paraTool.getAddress(pubkey, 0);
if ( title && ss58_address && dashboard ) { %>
<a href="https://analytics.polkaholic.io/superset/dashboard/<%= dashboard; %>/?account=<%= ss58_address; %>" button type="button" class="btn btn-info text-capitalize" ><%= title; %></a> 
<% } %>
