<%
function beautifyCamelCase(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
let moduleMethod = `${beautifyCamelCase(module_method)}`
%>

<button type="button" class="btn btn-outline-secondary text-capitalize"><%= moduleMethod; %></button>
