<%
function beautifyCamelCase(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
let moduleSection = `${beautifyCamelCase(module_section)}`
%>

<button type="button" class="btn btn-outline-primary text-capitalize"><%= moduleSection; %></button>
