<%- include('header', {chainInfo: chainInfo, title: "Not found"}); %>
<div style='margin: 5px'>
 <div class="alert" role="alert" data-mdb-color="warning">
  <%= recordtype; %> Not found
 </div>
</div>
<%- include('footer', {apiUrl: ""}); %>
