<%- include('header', {chainInfo: chainInfo, title: "Login"}); %>

<h4>Login</h4>
<form class="form" action="/login/password" method="post" >
  <div class="form-group">
    <label for="email1">Email address</label>
    <div><input type="hidden" name="email" value="<%= email; %>"/><%= email %></div>
  </div>
  <div class="form-group">
    <label for="password1">Password</label>
    <input type="password" class="form-control" id="password1" placeholder="Password" name="password1">
  </div>
  <button type="submit" class="btn btn-primary">Next</button>
  Don't have an account yet? <a href='/register'>Sign up for free.</a>
</form>

<%- include('footer'); %>
