<%- include('header', {chainInfo: chainInfo, title: "Playground"}); %>
<h2>Polkadot Extension Playground</h2>

<hr/>
<h4>Sign</h4>
<form>
<div class="form-group">
  <label for="message">Message</label>
  <input type="text" class="form-control" id="message" aria-describedby="messageHelp" placeholder="Enter message" value="test">
  <small id="messageHelp" class="form-text text-muted">This is the message that is signed by the extension</small>
</div>
<button id="btnSign" type="button" class="btn btn-outline-primary">Sign</button>
</form>


<hr/>
<h4>Transfer (Polkadot)</h4>

<form>
<div class="form-group">
  <label for="recipient">Recipient</label>
  <input type="text" class="form-control" id="recipient" aria-describedby="recipientHelp" placeholder="Enter recipient (ss58)" value="16DWzViTodXg48SJzRRcqTQbSvFBxJEQ9Y2F4pNsrXueH4Nz">
  <small id="recipientHelp" class="form-text text-muted">This is the recipient of DOT</small>
</div>

<div class="form-group">
  <label for="amount">Amount</label>
  <input type="text" class="form-control" id="amount" aria-describedby="amountHelp" placeholder="Enter amount (in Planck)" value="1234">
  <small id="amountHelp" class="form-text text-muted">This is the amount of Planck to be sent  [1 DOT = 10^10 Planck]</small>
</div>
<button id="btnTransfer" type="button" class="btn btn-outline-primary">Transfer</button>
</form>

<hr/>
<h4>TransferNFT (Acala)</h4>

<form>
<div class="form-group">
  <label for="recipient">Recipient</label>
  <input type="text" class="form-control" id="recipient" aria-describedby="recipientHelp" placeholder="Enter recipient (ss58)" value="16DWzViTodXg48SJzRRcqTQbSvFBxJEQ9Y2F4pNsrXueH4Nz">
  <small id="recipientHelp" class="form-text text-muted">This is the recipient of the NFT</small>
</div>

<div class="form-group">
  <label for="classID">Class ID</label>
  <input type="text" class="form-control" id="classID" aria-describedby="classIDHelp" placeholder="Enter class ID" value="3">
  <small id="classIDHelp" class="form-text text-muted">classID [3]</small>
</div>

<div class="form-group">
  <label for="tokenID">Token ID</label>
  <input type="text" class="form-control" id="tokenID" aria-describedby="tokenIDHelp" placeholder="Enter token ID" value="0">
  <small id="tokenIDHelp" class="form-text text-muted">tokenID [0]</small>
</div>
<button id="btnTransferNFT" type="button" class="btn btn-outline-primary">TransferNFT</button>
</form>


<script>
$('#btnSign').on('click', function(e) {
  var message = document.getElementById('message').value;
  console.log("message", message);
  signMessageWithAccount(message);
});

$('#btnTransfer').on('click', function(e) {
  var recipient = document.getElementById('recipient').value;
  var amount = parseInt(document.getElementById('amount').value, 10);
  if ( amount > 1000000000 ) amount = 1000000000; // limit to .1 DOT ($2)
  transfer(recipient, amount);
  console.log("transfer", recipient, amount);
});

$('#btnTransferNFT').on('click', function(e) {
  var recipient = document.getElementById('recipient').value;
  var classID = parseInt(document.getElementById('classID').value, 10);
  var tokenID = parseInt(document.getElementById('tokenID').value, 10);
//  transferNFT(recipient, classID, tokenID);
  console.log("transferNFT", recipient, classID, tokenID);
});
</script>
<%- include('footer', {apiUrl: "/"}); %>
