<table id="tablepools" class="display" style='width: 100%'>
    <thead>
    <tr>
      <th scope="col">Pool</th>
      <th scope="col">Your Holdings</th>
      <th scope="col"># Holders</th>
      <th scope="col">Current Price (USD)</th>
      <th scope="col">Total Free</th>
      <th scope="col">TVL</th>
      <th scope="col">Fees (24hr)</th>
      <th scope="col">APY (24hr)</th>
      <th scope="col">APY (7d)</th>
      <th scope="col">APY (30d)</th>
    </tr>
    </thead>
</table>
