<%- include('header', {chainInfo: chainInfo, skipSearch: true, title: "Register"}); %>

<% if ( error && typeof error == "string" ) { %>
<div class="alert" role="alert" data-mdb-color="primary">
   <%= error; %>
</div>
<% } %>

<h4>Register</h4>
<form class="row g-3 needs-validation" novalidate="" action="/register" method="POST">
  <div class="col-md-12">
    <div class="form-outline">
      <input name="email" type="email" class="form-control" id="validationCustom01" value="" required="">
      <label for="validationCustom01" class="form-label">Email</label>
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback">
        Please provide a valid email.
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-outline">
      <input id="pw1" name="pw1" type="password" minlength=6 maxlength=40 class="form-control" id="validationCustom01" required="" placeholder="Password">
      <label for="validationCustom03" class="form-label">Password</label>
      <div class="invalid-feedback">
        Please provide a valid password.
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="form-outline">
      <input id="pw2" name="pw2" type="password" minlength=6 maxlength=40 class="form-control" id="validationCustom02" required="" placeholder="Repeat Password"  oninput="validate_pw2(this)">
      <label for="validationCustom05" class="form-label">Repeat Password</label>
      <div class="invalid-feedback">
        Please provide same password.
      </div>
    </div>
  </div>
  <div class="col-12">
    <button class="btn btn-primary" type="submit">Register</button>
  </div>
</form>

<script>

// disabling form submissions if there are invalid fields
// Fetch all the forms we want to apply custom Bootstrap validation styles to
var forms = document.querySelectorAll('.needs-validation');

// Loop over them and prevent submission
Array.prototype.slice.call(forms).forEach(function (form) {
 form.addEventListener( 'submit',
 function (event) {
  if (!form.checkValidity()) {
    event.preventDefault();
    event.stopPropagation();
  }
  form.classList.add('was-validated');
 },
 false);
});

function validate_pw2(pw2) {
  if (pw2.value !== $("#pw1").val()) {
    pw2.setCustomValidity("Duplicate passwords do not match");
  } else {
    pw2.setCustomValidity(""); // is valid
  }
}
//  var email_regex = /^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/i;
</script>
<%- include('footer'); %>
