<div class="tab-pane" id="tokens" role="tabpanel" aria-labelledby="tokens-tab">
<table id="tabletokens" class="display" style='width: 100%'>
  <thead>
    <tr>
      <th scope="col">Token</th>
      <th scope="col">Chain-Specific Holdings</th>
      <th scope="col">CurrencyID</th>
      <th scope="col"># Holders</th>
      <th scope="col">Price</th>
      <th scope="col">Total Free</th>
      <th scope="col">TVL Free</th>
    </tr>
  </thead>
</table>
</div>
