<%
function parseErrorMsg(errorMsg){
  try {
  //'Failed(RequiredContractPreApproval) To register a contract, pre-approval is needed for this address'
  let idx = errorMsg.indexOf(')')
  let e = errorMsg.substring(0, idx+1)    //Failed(RequiredContractPreApproval)
  let desc = errorMsg.substring(idx+2) //To register a contract, pre-approval is needed for this address'
  console.log(e, desc)
  return [e, desc]
  } catch(err) {
   return ["Failed", ""];
  }
}
%>

<% if ( success ) { %>
<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-square" viewBox="0 0 16 16">
  <path d="M 8,1 C 4.1340066,1 1,4.1340066 1,8 c 0,3.865993 3.1340066,7 7,7 3.865993,0 7,-3.134007 7,-7 C 15,4.1340066 11.865993,1 8,1 z m 3.3125,3.0625 1.5625,1.40625 -5.25,6.9375 -4.0625,-3.5 1.34375,-1.78125 2.375,2.0625 4.03125,-5.125 z"
    inkscape:connector-curvature="0" id="path2922-6-6-0"
    style="color:#000000;fill:#4e9a06;fill-opacity:1;fill-rule:nonzero;stroke:none;stroke-width:0.84323651;marker:none;visibility:visible;display:inline;overflow:visible;enable-background:accumulate" />
</svg>
Success
<% } else {
 let eMsg = (errorMsg)? errorMsg: 'Failed';
 let [e, desc] = parseErrorMsg(errorMsg)
%>
<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
  <path fill=#c93636 fill-rule="evenodd"
    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
</svg>
<span class="" style="font-weight: 400"><%= e; %></span>
<% if ( desc !='' ) { %>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="20" height="20" viewBox="0 0 32 32" style="enable-background:new 0 0 32 32;" xml:space="preserve">
  <title><%-`${desc}`%></title>
	<path d="M17.962,24.725l1.806,0.096v2.531h-7.534v-2.406l1.045-0.094c0.568-0.063,0.916-0.254,0.916-1.014v-8.801
		c0-0.699-0.188-0.92-0.791-0.92l-1.106-0.062v-2.626h5.666L17.962,24.725L17.962,24.725z M15.747,4.648
		c1.394,0,2.405,1.047,2.405,2.374c0,1.331-1.014,2.313-2.438,2.313c-1.454,0-2.404-0.982-2.404-2.313
		C13.31,5.695,14.26,4.648,15.747,4.648z M16,32C7.178,32,0,24.822,0,16S7.178,0,16,0c8.82,0,16,7.178,16,16S24.82,32,16,32z M16,3
		C8.832,3,3,8.832,3,16s5.832,13,13,13s13-5.832,13-13S23.168,3,16,3z" fill="#3f77cc"/>
</svg>
<% }  %>
<% }  %>
