<a class="btn btn-sm text-capitalize" href="javascript:verifyExtrinsic('<%= id; %>', '<%= blockNumber; %>', '<%= extrinsicID; %>', '<%= extrinsicHash; %>')">
  <i class="fa-solid fa-question"></i>
</a>
 
