<a class="btn btn-sm text-capitalize" href="javascript:verifyExtrinsic('<%= id; %>', '<%= blockNumber; %>', '<%= extrinsicID; %>', '<%= extrinsicHash; %>')"  data-toggle="modal"  data-target=".bd-example-modal-lg">
  <i class="fa-solid fa-question"></i>
</a>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>

