<html>
<head>
<script type="module" src="/talisman.js"></script>
</head>
<body>
<h3>Talisman Wallet Check</h3>
<script>
  function walletCheck() {
    let w = document.defaultView;
    let wallets = w.Talisman;
    let x = wallets.getWalletBySource("talisman");
    const wallet = x.enable("polkaholic").then(function(response) {
      console.log("1", response);
    }).catch(function(err) {
      console.log("2", err);
    });
  }
</script>
<input type=button onclick="walletCheck();" value="wallet check">
</body>
</html>
