<%- include('header', {chainInfo: {}, title: `Polkaholic.io XCM Info Channel`}); %>
<script src="https://cdn.ably.com/lib/ably.min-1.js"></script>
<script src="/xcminfows.js"></script>


<h5>Polkaholic.io XCM Info Channel</h5>

The Polkaholic.io XCM Info Channel service, powered by polkaholic.io XCM indexing of <a href='/xcmtransfers?xcmtype=xcmtransfer'>XCM Transfers</a> + <a href='/xcmtransfers?xcmtype=xcmtransact'>Remote Executions</a>,
pipes real-time "XCM Info" JSON objects coming through a Web Socket Channel.  Polkadot dapps can subscribe to XCM Info streams in real-time by chain (e.g. "moonbeam" or "interlay") (both as origin or destination),
extrinsic hash or transaction hash (e.g. "0xc636bb048e6bdb0b9e13fd3d6b4433256076ff97a64ecb9fb8088c016c45445e").

<div><b>Last XCM Info Received:</b></div>

<table>
  <tr>
    <td valign=top>
<div style='padding-left: 30px; width:500px; margin-left: 30px; border: 1px solid block;'>
  <ul class="timeline-with-icons">
    <!-- Section: Origination -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-paper-plane text-primary fa-sm fa-fw"></i>
      </span>
      <div id="origination">...</div>
    </li>
    <!-- Section: RelayChain -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-spinner text-primary fa-sm fa-fw"></i>
      </span>
      <div id="relayed">...</div>
    </li>
    <!-- Section: Destination Chain -->
    <li class="timeline-item mb-5">
      <span class="timeline-icon">
        <i class="fas fa-hand-holding-usd text-primary fa-sm fa-fw"></i>
      </span>
      <div id="destination">...</div>
    </li>
  </ul>
  <div id='flighttime'></div>
</div>
   <td valign=top>
     <div><b>XCM Info:</b></div>
     <textarea id="xcminfo" style="width: 600px; height: 800px; font-size:10px; font-family: Courier New;">waiting...</textarea>
   </td>
  </tr>
  </table>

<h5>How To Subscribe to XCM Info Channel</h5>

You need an API key from <a href="http://ably.com">Ably</a>, and can optionally pick a chain to subscribe to.<br/>

<h6>Browser</h6>
To subscribe to XCM Info messages via the browser:<br>
  <div style='padding:5px'>
<pre>
<code style='font-size:8pt'>
  // setup ably realtime client and channel -- use your own API key
  &lt;script src="https://cdn.ably.com/lib/ably.min-1.js"&gt;&lt;/script&gt;
  var client = new Ably.Realtime("DTaENA.C13wMg:WBLRXZd-9u73gBtrFc19WPFrkeX0ACnW0dhRrYPaRuU");
  // channel name: "xcminfo" can be replaced with "moonbeam", "astar", "interlay", etc.
  var channel = client.channels.get("xcminfo");
  channel.subscribe(function (message) {
    // filter on message.name (transaction hash or extrinsic hash), show feedback in app ...
  }); 
</code>
</pre>
</div>

<h6>Node.js</h6>
To subscribe to XCM Info messages via node.js server side, use `npm install ably`: (see <a href='https://ably.com/download'>this</a> for other libraries)

<div style='padding:5px'>
<pre>
<code style='font-size:8pt'>
  // setup ably realtime client and channel -- use your own API key here
  const Ably = require('ably');
  var client = new Ably.Realtime("DTaENA.C13wMg:WBLRXZd-9u73gBtrFc19WPFrkeX0ACnW0dhRrYPaRuU");
  await ably.connection.once('connected');
  // channel name: "xcminfo" can be replaced with "moonbeam", "astar", "interlay", etc.
  var channel = client.channels.get("xcminfo");
  await channel.subscribe(function (message) {
      console.log('Received xcminfo: ', message);
  });
</code>
</pre>

<h6>Notes:</h6>
 <ul>
   <li>Both origination and destination contain a <code>finalized</code> attribute (true or false).   Typical normal XCM Transfers will have 3 key events: Origin chain Unfinalized, Origin chain Finalized, Destination chain Finalized</li>
   <li>If the origination chain cannot send the XCM Message, then <code>origination.isMsgSent</code> is <code>false</code></li>
   <li>If the destination chain cannot process the message, then <ode>destination.status</code> is <code>false</code> and details are provided in <code>destination.error</code>.</li>
 <ul>
 
<script>
let xcminfo = <%- JSON.stringify(xcmInfo) %>;
  $(document).ready(function() {
     const intervalID = setInterval(showxcminfo, 1000,xcminfo);
  });
  // use your own API key here from ably
  var client = new Ably.Realtime("DTaENA.C13wMg:WBLRXZd-9u73gBtrFc19WPFrkeX0ACnW0dhRrYPaRuU");
  var channel = client.channels.get("[?rewind=1]<%= name %>");
  channel.subscribe(function (message) {
      xcminfo = message.data;
      showxcminfo(xcminfo);
      console.log(message.name, message.data);
  });
</script>

<div class="alert" role="alert" data-mdb-color="warning"><i class="fas fa-exclamation-triangle"></i>This feature is under active development and may change at any time.  Email info@polkaholic.io for details.</div>


<%- include('footer', {apiUrl: apiUrl}); %>
